body{
    margin:0;
    padding:0;
}
.frameColor{
    background: #FFFFFF;
    position: sticky;
    top:0px;
    z-index:2;
}
.frame{
    display:flex;
    width:1200px;
    height:54px;
    margin:auto;
    background: #FFFFFF;
    align-items: center;
}
.title{
    flex:none;
    width:150px;
    height:34px;
    font-size:30px;
    font-weight:700;
    color: #448899;
    text-align:center;
    line-height:34px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:auto;
    cursor: pointer;
}
.reserve,.sign,.memberCenter{
    flex:none;
    width:100px;
    height:34px;
    color: #666666;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    line-height: 34px;
    margin-top:10px;
    margin-bottom:10px;
    display: flex;
    align-items: center;
}
.reserve{
    margin-right:25px;
}
.userIcon, .cartIcon{
    flex:none;
    width: 23px;
    height: 23px;
    cursor: pointer;
    margin-right:7px;
}
.userIcon img, .cartIcon img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 5px;
}
.sign,.memberCenter{
    margin-right:10px;
}
.memberCenter{
    display:none;
}
.memberCenterFrame{
    display:none;
    width:1200px;
    height:120px;
    margin:auto;
    justify-content: end;
    position: absolute;
    top: 50px;
}
.memberCenterBlock{
    width:120px;
    height: 120px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px #AABBCC;
    border-radius: 5px;
}
.memberInfo, .historyOrder,.signoutText{
    height: 40px; 
    color: #666666;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;  
}
.reserve:hover,.sign:hover, .memberCenter:hover, .memberInfo:hover, .historyOrder:hover, .signoutText:hover{
    font-weight:900;
    background-color: antiquewhite;
    cursor: pointer;
    border-radius:5px;
}
/*signin„ÄÅsignup*/
.signinWindow,.noticeWindow{
    display: none;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.25);
    position: fixed;
    z-index: 5;
}
.signinSection,.noticeSection{
    width: 340px;
    height:auto;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    position:relative;
    top:80px;
}
.signupSection{
    width: 340px;
    height: auto;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    position:relative;
    top:80px;
    display:none;
}
.decoratorBar{
    width: 100%;
    height: 10px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom:15px;
}   
.closeIcon{
    background-image: url("/Images/icon_close.png");
    width: 16px;
    height: 16px;
    position: absolute;
    top:27px;
    right:17px;
    cursor: pointer;
}
.closeIcon:hover{
    transform: scale(1.2);
}
.signinMain,.signupMain{
    width: 310px;
    height: auto;
    margin:auto;
}
.noticeMain{
    width: 310px;
    height:100px;
    font-weight: 700;
    font-size: 24px;
    line-height:100px;
    text-align: center;
    color: #666666;
    margin:auto;
}
.signinText,.signupText{
    width:100%;
    height: 27px;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    color: #666666;
    margin-bottom:15px;
}
.signinEmail, .signinPassword, .signupName, .signupEmail, .signupPassword{
    width: 100%;
    height: 47px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #757575;
    margin-bottom: 10px;
}
.signinButton, .signupButton{
    border:0;
    width: 100%;
    height: 47px;
    background: #448899;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.signinResult, .signupResult{
    width: 100%;
    height: 22px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 1.3px; 
}
.changeToSignup, .changeToSignin{
    width: 100%;
    height: 22px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #666666; 
    padding-bottom: 10px;
}
.signinButton:hover, .signupButton:hover{
    font-weight: bold;
    cursor: pointer;
    background:#699fad;
}
.changeToSignup:hover, .changeToSignin:hover{
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}
.footer{
    display:flex;
    align-items:center;
    justify-content:center;
    width: 100%;
    height: 104px;
    margin-top:40px;
    background: #757575;
    position:relative;
}
.footerText{
    width:234px;
    height: 14px;
    line-height:14px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding-top:45px;
    padding-bottom:45px;
    color: #FFFFFF;
}

@media (max-width:1230px){
    .frame{
        width:98%;
    }
    .title{
        margin-right:auto;
    }
    .memberCenterFrame{
        width:98%;
    }
}

@media (max-width:600px) {
    .frame{
        width:100%;
    }
    .title{
        margin-left:10px;
        margin-right:35px;
    }
    .reserve{
        margin-left: auto;
    }
    .memberCenterBlock{
        width:110px;
    }
}

@media (max-width:450px) {
    .frame{
        width:100%;
    }
    .title{
        margin-left:10px;
        margin-right:20px;
        width:130px;
        font-size: 26px;
    }
    .reserve{
        width:95px;
        margin-right: 5px;
    }
    .memberCenter{
        width:95px;
    }
    .memberCenterBlock{
        width:100px;
    }
    .userIcon, .cartIcon{
        margin-right: 3px;
    }
}