body{
    margin:0;
    padding:0;
}
.frameColor{
    background: #FFFFFF;
    position: sticky;
    top:0px;
    z-index:2;
    border: 1px solid #E8E8E8;
}
.frame{
    display:flex;
    width:1200px;
    height:54px;
    margin:auto;
    background: #FFFFFF;
    align-items: center;
}
.title{
    flex:none;
    width:150px;
    height:34px;
    font-size:30px;
    font-weight:700;
    color: #448899;
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:885px;
}
.reserve{
    flex:none;
    width:64px;
    height:16px;
    color: #666666;
    font-weight: 500;
    font-size: 16px;
    margin-top:20px;
    margin-bottom:20px;
    margin-right:20px;
}
.sign{
    flex:none;
    width: 71px;
    height: 16px; 
    color: #666666;
    font-weight: 500;
    font-size: 16px;
    margin-top:20px;
    margin-bottom:20px;
    margin-right:10px;
}
.attractionSection{
    width: 1200px;
    height: 400px;
    margin: 40px auto;
    display:flex;
}
.picture{
    flex:none;
    width: 540px;
    height: 400px;
    margin: auto 30px auto 15px;
    position:relative;
}
.picture img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 5px;
}
/* Next & previous buttons */
.prev{
    width: 36px;
    height: 36px;
    background-image:url("btn_leftArrow.png");
    cursor: pointer;
    position: absolute;
    z-index:1;
    top:182px;
    left:10px;
}
.next{
    width: 36px;
    height: 36px;
    background-image:url("btn_rightArrow.png");
    cursor: pointer;
    position: absolute;
    z-index:1;
    top:182px;
    right:10px;
}
.dots{
    width:100%;
    height:12px;
    justify-content:center;
    position: absolute;
    bottom: 13px;
    z-index:1;
    display:flex;
}
.dot{
    width: 12px;
    height: 12px;
    background: #FFFFFF;
    border-radius: 50%;
    margin: 0 12px;
}
.profile{
    flex:none;
    width: 600px;
    height: 400px;
    margin-right:15px;
}
.name{
    width: 100%;
    height: 33px;
    font-size: 24px;
    line-height: 24px;
    color: #666666;
    font-weight: 700;
    margin-bottom: 15px;
}
.information{
    width: 100%;
    height: 22px;
    font-weight: 500;
    font-size: 16px;
    line-height:16px;
    color: #666666;
    margin-bottom:20px;
}
.bookingform{
    width: 100%;
    height: 302px;
    background: #E8E8E8;
    border-radius: 5px;
}
.bookingText{
    width: 560px;
    height: 22px;
    font-weight: 700;
    font-size: 16px;
    line-height:16px;
    color: #666666;
    padding-top:15px;
    margin:0px 20px 15px 20px;
}
.bookingSlogan{
    width: 560px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
    margin:0px 20px 15px 20px;
}
.date{
    width: 560px;
    height: 35px;
    margin:0px 20px 15px 20px;
    display: flex;
    align-items: center;
}
.selectDate{
    width: 81px;
    height: 17px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
    margin-right:5px;
}
.inputFrame{
    width: 193px;
    height: 35px;
    background: #FFFFFF;
}
.inputFrame input{
    width: 173px;
    height: 25px;
    padding:5px 10px 5px 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    border: none;
}

.time{
    width: 560px;
    height: 22px;
    margin:0px 20px 15px 20px;
    display:flex;
    align-items: center;
}
.selectTime{
    width: 81px;
    height: 22px;
    font-weight:700;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
    margin-right:5px;
}
.forenoon{
    width: 87px;
    height: 22px;
    margin-right:10px;
    display: flex;
    align-items: center;
}
.forenoon input, .afternoon input{
    width: 18px;
    height: 18px; 
    margin:0px 6px 0px 0px; 
    /*隱藏原生外觀*/
    appearance: none; 
    -webkit-appearance: none;   
    border-radius: 50%;
    background:#FFFFFF;
    outline: 4px solid #FFFFFF;
}
.afternoon{
    width: 87px;
    height: 22px;
    display: flex;
    align-items: center;
}
.timeText{
    width: 48px;
    height: 18px;   
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #666666;
}
.price{
    width: 560px;
    height: 22px;
    margin:0px 20px 25px 20px;
    display: flex;
    align-items: center;
}
.priceText{
    width: 81px;
    height: 22px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
    margin-right: 5px;
}
.priceCost{
    width: 108px;
    height: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height:16px;
    color: #666666;
}
.startReserve{
    display: flex;
    margin-left: 20px;
    width: 154px;
    height: 36px;
    background: #448899;
    border-radius: 5px;
}
.startReserveText{
    width: 114px;
    height: 19px;
    font-weight: 400;
    font-size: 19px;
    line-height: 19px;  
    padding: 10px 20px;
    color: #FFFFFF;
    text-align: center;
}
.hr{
    width: 1200px;
    margin:auto;
    margin-bottom: 40px;
    border: 1px solid #E8E8E8;
}
.informations{
    width: 1200px;
    height: 100%;
    margin: auto;
}
.introduction{
    width: 1180px;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height:24px;
    color: #666666;
    margin: 10px;
    margin-bottom:20px;
}
.addressTitle, .transportTitle{
    width: 100%;
    height: 100%;
    margin:0px 10px;
    font-weight: 700;
    font-size: 18px;
    line-height:24px;
    color: #666666;
}
.addressText,.transportText{
    width: 100%;
    height: 100%;
    margin:0px 10px 20px 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;  
    color: #666666;
}

.footer{
    display:flex;
    align-items:center;
    justify-content:center;
    position: absolute;
    width: 100%;
    height: 104px;
    margin-top:40px;
    background: #757575;
    position:absolute;
}
.footerText{
    width:234px;
    height: 14px;
    line-height:14px;
    font-size: 14px;
    text-align: center;
    padding-top:45px;
    padding-bottom:45px;
    color: #FFFFFF;
}

@media (max-width:1200px){
    .frame{
        display:flex;
        width:100%;
        height:54px;
    }
    .title{
        margin-right:auto;
    }
    .attractionSection, .information{
        width:95%;
    }
    .picture{
        width:45%;
    }
    .profile{
        width:50%;
    }
    .bookingText, .bookingSlogan, .date, .time, .price{
        width:90%;
    }
    .hr{
        width:95%;
    }
    .informations{
        width:90%;
    }
    .introduction,.address,.transport{
        width:98%;
    }
}

@media (max-width:865px){
    .title{
        margin-left:10px;
        margin-right:35px;
    }
    .reserve{
        margin-left: auto;
    }
    .attractionSection{
        display:inline-block;
        width:100%;
        height:100%;
        margin-bottom:0px;
    }
    .picture{
        width:95%;
        margin: 0 auto;
    }
    .profile{
        width:95%;
        margin: 30px auto;
    }
    .hr{
        margin-bottom:20px;
    }
}
