{% extends "base.html" %}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>❉ 台北一日遊-景點 ❉</title>
        <link rel="stylesheet" type="text/css" href="/CSS/attraction.css">
        {% endblock head %}
    </head>
    <body>
        {% block content %}
        <div class="attractionSection">
            <div class="picture">
                <div class="prev" onclick="plusSlides(-1)"></div>
                <div class="next" onclick="plusSlides(+1)"></div>
                <div class="dots">
                    <!-- <div class="dot" onclick="changeSlide(0)"></div> -->
                </div>
            </div>
            <div class="profile">
                <div class="name"></div>
                <div class="information"></div>
                <div class="bookingform">
                    <div class="bookingText">訂購導覽行程</div>
                    <div class="bookingSlogan">以此景點為中心的一日行程，帶您探索程式角落故事</div>
                    <div class="date">
                        <div class="selectDate">選擇日期 :</div>
                        <div class="inputFrame"><input type="date"/></div>
                    </div>
                    <div class="time">
                        <div class="selectTime">選擇時間 :</div>
                        <div class="forenoon" >
                            <input type="radio" name="radio" class="forenoonRadioButton" value="上半天">
                            <div class="timeText">上半天</div>
                        </div>
                        <div class="afternoon">
                            <input type="radio"  name="radio" class="afternoonRadioButton" value="下半天">
                            <div class="timeText">下半天</div>
                        </div>
                    </div>
                    <div class="price">
                        <div class="priceText">導覽費用 :</div>
                        <div class="priceCost"></div>
                    </div>
                    <div class="startReserve">
                        <div class="startReserveButton">開始預約行程</div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hr">
        <div class="informations">
            <div class="introduction"></div>
            <div class="address">
                <div class="addressTitle">景點地址 :</div>
                <div class="addressText"></div>
            </div>
            <div class="transport">
                <div class="transportTitle">交通方式 :</div>
                <div class="transportText"></div>                
            </div>
        </div>
        {% endblock content %} 
        {% block script %}
        <script src="/JS/attraction.js"></script>
        {% endblock script %} 
    </body>
</html>