{% extends "base.html" %}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>台北一日遊</title>
        <link rel="stylesheet" type="text/css" href="/CSS/index.css">
        {% endblock head %}
    </head>
    <body>
        {% block content %}
        <div class="welcome">
            <img src="Images/welcome image.jpg" class="oneOone"/>
            <div class="slogan">
                <div class="sloganframe">
                    <div class="slogantext">
                        <div class="enjoy">輕鬆享受台北一日悠閒</div>
                        <div class="explore">探索每個角落，體驗城市的深度旅遊行程</div>    
                    </div>      
                    <div class="search">
                        <div class="searchbar" >
                            <input type="text" name="name" id="keyword" placeholder="輸入景點名稱查詢" autocomplete="off"/>
                            <div class="button">
                                <img src="Images/icon_search.png" align="middle" />
                            </div>
                        </div>
                    </div>
                    <div class="categorylist"><!-- <div class="categories"></div> --></div>
                </div>
            </div> 
        </div>  
        <div class="attractions_frame">
            <div class="attractions">
                <!-- <div class="pic">
                        <img/>
                        <div class="name_frame">
                            <div class="name"></div>
                        </div>
                        <div class="information_frame">
                            <div class="information">
                                <div class="mrt"></div>
                                <div class="category"></div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        {% endblock content %} 
        {% block script %}
        <script src="/JS/index.js"></script>
        {% endblock script %} 
    </body>
</html>
